@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /*added this, OK w/solution*/
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /*solution added padding*/
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

/*good w/solution*/
a{
  text-decoration-line: none;
  color: gray;
}

/*solution just does header/footer, not left/right links
The format the links in the ul section*/
/*.header, .footer, .left-links, .right-links{
  display: flex;
  flex: 1 1 auto;
}*/

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

/*alla this done in ul above, per solution*/
/*
.left-links, .right-links{
  gap: 10px;
}

.left-links{
  justify-content: flex-start;
}

.right-links{
  justify-content: flex-end;
}
*/

.content{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  /*added from solution*/
  justify-content: center;
}

.footer{
  align-items: flex-end;
  background-color: lightgray;
}